@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #F4F4F4;
  color: #333;
  line-height: 1.6;
}

.imagen_1 {
  background: url('../assets/bgHeader.png');
  background-size: cover;
  padding: 100px 40px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

h1,h2 {
  color: #ec6f2d;
}

.btn {
  margin-top: 200px;
  padding: 10px 20px;
  background: #e86c1a;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  background: #e86c1a;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

section.feat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

section.feat.reverse {
  flex-direction: row;
}

section.feat .text {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
  margin: 20px;
}

section.feature img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.imagen_2 {
  background: url('../assets/bgDown.png') no-repeat;
  width: 100%;
  height: 90vh;
  padding: 20vh 12vw 10vh;
  padding-right: 50vw;
  margin-bottom: 0%;
  background-size: cover;
}

.text h3 {
  font-weight: bold;
  color: #ff8a41;
  font-size: 41px;
  padding: 0px 0px 20px 0px;
  line-height: 65px;
}

.text p {
  line-height: 30px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.644);
  padding-bottom: 15px;
}

.footer {
  background-color: #e86c1a;
  color: white;
  padding: 100px 40px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}

.footer h4 {
  margin-bottom: 0.5em;
}

.footer p {
  margin: 0.2em 0;
}

.footer-container {
  text-align: center;
  margin-top: 8em;
  font-size: 0.9em;
}